<link href='http://cdn.webfont.youziku.com/webfonts/nomal/97307/161/5a6600c7f629d90b84eaaeef.css' rel='stylesheet' type='text/css' />
<div class="layout">
  <ul class="top-bar">
    <li class="menu-toggle-item">
      <span class="menu-toggle-btn iconfont" (click)="toggleMenu()">&#xe761;</span>
    </li>
    <li class="logo-item cssfc39c54f217c1b">
      <a routerLink="/" class="logo-main">罗潇</a>
    </li>
    <li class="nav-item">
      <a routerLink="/">item</a>
    </li>
    <li class="nav-item">
      <a routerLink="/">item</a>
    </li>
    <li class="nav-item">
      <a routerLink="/">item</a>
    </li>
    <li class="nav-item">
      <a routerLink="/">item</a>
    </li>
    <li class="nav-item">
      <a routerLink="/">item</a>
    </li>
    <li class="search-item">
      <input type="text" class="global-search" placeholder="Search..." (focus)="globalSearchToggle($event)" (blur)="globalSearchToggle($event)">
    </li>
  </ul>
  <div class="flex-box">
    <ul class="menu visible">
      <li class="menu-item" *ngFor="let item of menus; index as i">
        <a #a routerLink="{{item.url}}" (click)="onItemClick(i, a)" [ngClass]="{active: item.selected}">{{item.title}}  <span class="iconfont arrow" *ngIf="item.children && item.children.length > 0">&#xe612;</span></a>
        <ul class="sub-menu" *ngIf="item.children && item.children.length > 0">
          <li class="menu-item" *ngFor="let subItem of item.children; index as j">
            <a routerLink="{{subItem.url}}" (click)="onSubItemClick(j, i)" [ngClass]="{active: subItem.selected}">{{subItem.title}}  <span class="
              iconfont arrow " *ngIf="subItem.children && subItem.children.length> 0">&#xe612;</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="main-content menu-visible">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
