

.article-list {
  width: 100%;
  padding: .2rem .3rem;
}

.article-list .article-list-item {
  padding: .3rem 0 .15rem;
  border-top: 1px solid gainsboro;
}

.article-list .article-list-item .article-title a {
  color: royalblue;
  font-size: .17rem;
}
.article-list .article-list-item .article-title a:hover {
  text-decoration: underline;
}

.article-list .article-list-item .article-desc {
  margin-top: .05rem;
  color: #666;
  font-size: .12rem;
}

.article-list .article-list-item .tags {
  margin-top: .18rem;
  height: .2rem;
}

.article-list .article-list-item .tags .tag {
  display: block;
  float: left;
  padding: .02rem .03rem;
  margin-right: .05rem;
  font-size: .10rem;
  color: cornflowerblue;
  background: #def;
}

.article-list .article-list-item .publication-info {
  height: .2rem;
  margin-top: .1rem;
}

.article-list .article-list-item .publication-info .license,
.article-list .article-list-item .publication-info .publication-time {
  float: left;
  color: #666;
  font-size: .1rem;
}

.article-list .article-list-item .publication-info .license {
  margin-right: .12rem;
}





